@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    list-style: none;
    text-decoration: none;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 160px;
  background-color: #1f1f1f;
  background-image: url("/src/assets/Camada_1.png"), url("/src/assets/Ellipse\ 1.png");
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed, fixed;
  background-position: top 50px left 310px, top -300px right -20px;
  background-size: 239px auto, 888px 888px;
}

.container-app::after {
  content: "";
  position: fixed;
  bottom: -70px;
  left: -200px;
  width: 674px;
  height: 674px;
  background-image: url("/src/assets/Ellipse 1.png");
  background-repeat: no-repeat;
  background-size: 674px 674px;
  z-index: 10;
  pointer-events: none;
  transform: rotate(90deg);
}


.container {
  display: flex;
  padding: 45px 0 0 0;
  flex-direction: column;
  align-items: center;
  width: 1156px;
  height: 537px;
  background-color: black;
  color: white;
}



.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.titulo {
  display: flex;
  width: 384px;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.titulo h1 {
  font-size: 55px;
  letter-spacing: 1.1;
}

.normal {
  font-weight: normal;
  margin-right: 5px;
}

.github-name {
  letter-spacing: -3px;
}

.titulo img {
  width: 58px;
  height: 58px;
}



.form-search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
}

input {
  width: 441px;
  padding: 0 14px;
  border-radius: 8px;
  font-size: 20px;
}

.form-search button {
  width: 62px;
  height: 62px;
  padding: 10px;
  border-radius: 8px;
  background-color: #005cff;
}

.form-search button > img {
  width: 25px;
}

.content {
  margin-top: 35px;
  width: 804px;
  max-height: 257px;
  padding: 15px;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.content div > img {
  margin-left: 30px;
  width: 220px;
  height: 220px;
  border: 3px solid #005cff;
  border-radius: 100%;
}

.texto {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 18px;
}

.texto > h2 {
  color: #005cff;
  font-weight: bold;
  font-size: 20px;
}

.texto > p {
  font-size: 15px;
  color: black;
}